{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <!-- Camp List -->

            <div class="col-sm-12 col-md-8">

                <!-- H1 Camp -->
                <a class="main-article-link" href="{{ path('camp', {id: featured.id}) }}">
                    <div class="main-article mb-5 pb-3">
                        <img src="{{ featured.image }}" alt="{{ featured.title }}">
                        <h1 class="text-center mt-2">{{ featured.title }} <br></h1>
                    </div>
                </a>

                <!-- Supporting Camps -->

                {% for camp in camps %}

                <div class="article-container my-1">
                    <a href="{{ path('camp', {id: camp.id}) }}">
                        <img class="article-img" src="{{ camp.image }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>{{ camp.title }}<br></span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> {{ camp.author }} </span>
                            <span class="pl-5 article-details float-right"> {{ camp.date|date("d M Y") }}</span>
                        </div>
                    </a>
                </div>

                {% endfor %}


            </div>

            <!-- Right bar ad space -->


            <div class="col-sm-12 col-md-4 text-center">

                <div class="quote-space pb-2 pt-2 px-5">
                    <h3 class="text-center pb-3">{{'Getuigenissen'|trans}}</h3>
                    {% for camp in camps %}
                    <p><i class="fa fa-comment"></i>"{{ camp.translations[locale].quote }}"</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}